*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    border-left: solid black 20px;
    border-right: solid black 20px;
    background-image: url("https://media.istockphoto.com/id/157443820/photo/pegboard.jpg?s=612x612&w=0&k=20&c=NIAzEOLWAzJR1Rz02pzrkX7UYh3yR9gXUzP6d3qyWyU=");
}

#title{
    font-size: 60px;
    text-align: center;
    background-color: rgb(37, 37, 37);
    color: whitesmoke;
    border: solid rgb(216, 216, 216) 5px;
    padding: 10px;
    margin: 10px;
}

#submitGun{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    border: solid black 3px;
}

#subBtn{
    height: 75%;
    opacity: 1;
    border: solid black 1px;
    padding: 3px;
    visibility: hidden;
}

#subBtn:hover{
    opacity: .2;
    border: solid black 3px;
}

#menuContainer{
    display: flex;
    justify-content: center;
    min-height: 380px;
    height: 60vh;
    min-height: 450px;
    width: 100%;
}

#mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    min-height: 80vh;
    margin-bottom: 5vh;
}

#gunBenchContainer{
    display: grid;
    width: 70%;
}

#gunBench{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: whitesmoke;
    background-color: rgb(32, 32, 32);
    z-index: 1;
}

#input1{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    
    visibility: hidden;
}

#input1, #gunBench{
    grid-column: 1;
    grid-row: 1;

}

#optCard{
    display: flex;
    justify-content: center;
    align-items: center;
}

#mainCard{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

#display{
   max-width: 90%;
   max-height: 100%;
  
}

#inputCard{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: gray;
    height: 100px;
    opacity: .8;
    z-index: 2;
    border: solid black 3px;
}



#stockOpt{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    width: 15%;
    background-color: gray;
    border: solid black 3px;
    
}

#barrelLength{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    width: 15%;
    background-color: gray;
    border: solid black 3px;
   
}


#barCard{
    max-height: 100px;
    max-width: 155px;
    width: 90%
}

.option{
    max-width: 90%;
    max-height: 100px;
    background-color: white;
    border: solid black 3px;
    opacity: 1;
}

.option:hover{
    opacity: .2;
    transition: .2s ease-in-out;
    border: solid 3px yellow;
    cursor: pointer;
}


.current{
    border: solid 3px yellow;
    opacity: .2;
}

.option1{
    width: 90%;
    max-height: 100px;
    background-color: white;
    border: solid black 3px;
    opacity: 1;
}

.currentBarrel{
    opacity: .2;
    border: solid 3px yellow;
}

.option1:hover{
    opacity: .2;
    transition: .2s ease-in-out;
    border: solid 3px yellow;
    cursor: pointer;
}

.option2{
    width: 10vw;
    max-height: 100px;
    background-color: white;
    border: solid black 3px;
    opacity: 1;
}

.currentOptic{
    opacity: .2;
    border: solid 3px yellow;
}

.option2:hover{
    opacity: .2;
    transition: .2s ease-in-out;
    border: solid 3px yellow;
    cursor: pointer;
}

#opticOpt{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    min-height: 120px;
    max-width: 100%;
    min-width: 100%;
    background-color: gray;
    border: solid black 3px;
    z-index: 2;
}

#cardCollection{
    height: 100%;
    min-height: 400px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

h2{
    text-align: center;
    color: whitesmoke;
    background-color: rgb(37, 37, 37);
    border: solid rgb(216, 216, 216) 3px;
    padding: 3px;
    
}
#slide-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: visible;
}

#myCardContainer{
   width: 100%;
   height: 400px;
   display: flex;
   grid-column: 1;
    grid-row: 1;
   align-items: center;
   flex-wrap: nowrap;
   overflow-x: hidden;
   
}

#outlineContainer{
    display: grid;

    width: 1015px;
    z-index: 1;
}

.gunCard{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-between;
    padding: 5px;
    margin: 10px;
    background-color: rgb(54, 54, 54);
    border: 5px solid black;
    color: whitesmoke;
    height: 75%;
    width: 250px;
    min-width: 200px;
    scroll-behavior: smooth;
    transition-duration: .2s;
 
}

#gunName{
    text-align: center;
    border: solid lightgrey 1px;
}


#barrel, #stock, #id, #optic{
    margin: 3px; 
    border-bottom: solid lightgrey 1px;
    
}

#imgCon{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#cardImg{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: whitesmoke;
}

#inputContainer{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    border: solid black 3px;
    text-align: center;
    visibility: hidden;
}

.arrow{
    height: 30px;
    margin: 10px;
    border:  solid black 1px;
    border-radius: 50%;
    scroll-behavior: smooth;
    transition-duration: 4s;
}
.arrow:hover{
    opacity: .8;
    transition: .2s ease-in-out;
    border:  solid black 2px;
    cursor: pointer;
}

.active{
    height: 80%;
    margin-left: 20px;
    margin-left: 20px;
    scroll-behavior: smooth;
    transition-duration: .5s;
}